In [3]:
import pandas as pd
import numpy as np

In [1]:
train = 'dataset.csv'

test = 'validation_set.csv'

In [9]:
df = pd.read_csv(train, index_col=0)

In [10]:
df.head(), df.shape

(   LIMIT_BAL  SEX  EDUCATION  MARRIAGE  AGE  PAY_0  PAY_2  PAY_3  PAY_4  \
 0     200000    2          3         1   30      2      2      2      2
 1     200000    2          4         2   27     -2     -2     -2     -2
 2      20000    2          2         2   28      0      0      2      0
 3      50000    1          2         2   23      0      0      0     -1
 4      20000    1          2         1   47     -1     -1     -1     -2

    PAY_5  ...  BILL_AMT4  BILL_AMT5  BILL_AMT6  PAY_AMT1  PAY_AMT2  PAY_AMT3  \
 0      2  ...     147273     149244     151973      6600      6000      5860
 1     -2  ...          0          0          0         0         0         0
 2      0  ...       8168       6894      11424      3353         3      5101
 3      0  ...      48437      18712      19129      4175     41000     51705
 4     -2  ...          0          0          0       780         0         0

    PAY_AMT4  PAY_AMT5  PAY_AMT6  default payment next month
 0      6000      5000         0                           0
 1         0         0         0                           0
 2         6      6530      8103                           1
 3       700       718       700                           0
 4         0         0         0                           0

 [5 rows x 24 columns],
 (22500, 24))

In [12]:
df['default payment next month']

0        0
1        0
2        1
3        0
4        0
        ..
22495    0
22496    0
22497    0
22498    0
22499    0
Name: default payment next month, Length: 22500, dtype: int64

In [13]:
x = df.drop('default payment next month', axis=1)
y = df['default payment next month']

## Attribute Information:

This research employed a binary variable, default payment (Yes = 1, No = 0), as the response variable. This study reviewed the literature and used the following 23 variables as explanatory variables:

* LIMIT_BAL: Amount of the given credit (NT dollar): it includes both the individual consumer credit and his/her family (supplementary) credit.

* SEX: Gender (1 = male; 2 = female).

* EDUCATION: Education (1 = graduate school; 2 = university; 3 = high school; 4 = others).

* MARRIAGE: Marital status (1 = married; 2 = single; 3 = others).

* AGE: Age (year).

* PAY_0 - PAY_6: History of past payment. We tracked the past monthly payment records (from April to September, 2005) as follows:
    * PAY_0 = the repayment status in September, 2005;
    * PAY_1 = the repayment status in August, 2005;
    * . . . ;
    * PAY_6 = the repayment status in April, 2005.
        * The measurement scale for the repayment status is:
            * -1 = pay duly;
            * 1 = payment delay for one month;
            * 2 = payment delay for two months;
            * . . . ;
            * 8 = payment delay for eight months;
            * 9 = payment delay for nine months and above.

* BILL_AMT1 - BILL_AMT6: Amount of bill statement (NT dollar).
    * BILL_AMT1 = amount of bill statement in September, 2005;
    * BILL_AMT2 = amount of bill statement in August, 2005;
    * . . . ;
    * BILL_AMT6 = amount of bill statement in April, 2005.

* PAY_AMT1 - PAY_AMT6: Amount of previous payment (NT dollar).
    * PAY_AMT1 = amount paid in September, 2005;
    * PAY_AMT1 = amount paid in August, 2005;
    * . . . ;
    * PAY_AMT6 = amount paid in April, 2005.

In [18]:
x

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
0,200000,2,3,1,30,2,2,2,2,2,...,145374,147273,149244,151973,6600,6000,5860,6000,5000,0
1,200000,2,4,2,27,-2,-2,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,0
2,20000,2,2,2,28,0,0,2,0,0,...,4144,8168,6894,11424,3353,3,5101,6,6530,8103
3,50000,1,2,2,23,0,0,0,-1,0,...,49724,48437,18712,19129,4175,41000,51705,700,718,700
4,20000,1,2,1,47,-1,-1,-1,-2,-2,...,0,0,0,0,780,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22495,50000,2,2,1,50,0,0,0,0,0,...,20691,17081,16234,16330,2000,1306,1206,1000,697,532
22496,80000,2,2,1,53,0,0,0,0,0,...,20475,20325,20276,20662,2530,3990,850,800,1100,1100
22497,50000,2,2,1,50,0,0,0,0,0,...,48999,49388,48853,47765,2070,2357,1746,1628,1520,2202
22498,220000,1,2,1,32,0,0,0,0,0,...,105226,107476,109746,111920,3746,3820,4000,4000,4000,4500
22499,130000,1,1,1,39,2,-1,-1,-1,-1,...,390,1068,3169,390,390,390,1068,3169,390,390

In [30]:
x['SEX'].value_counts()

2    13557
1     8943
Name: SEX, dtype: int64

In [29]:
x['EDUCATION'].value_counts()

2    10546
1     7921
3     3690
5      205
4       90
6       35
0       13
Name: EDUCATION, dtype: int64

In [20]:
x.isnull().sum()

LIMIT_BAL    0
SEX          0
EDUCATION    0
MARRIAGE     0
AGE          0
PAY_0        0
PAY_2        0
PAY_3        0
PAY_4        0
PAY_5        0
PAY_6        0
BILL_AMT1    0
BILL_AMT2    0
BILL_AMT3    0
BILL_AMT4    0
BILL_AMT5    0
BILL_AMT6    0
PAY_AMT1     0
PAY_AMT2     0
PAY_AMT3     0
PAY_AMT4     0
PAY_AMT5     0
PAY_AMT6     0
dtype: int64