In [13]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
import warnings
warnings.filterwarnings('ignore')

from sklearn.metrics import mean_squared_error, mean_squared_log_error
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

In [24]:
val = pd.read_csv('validation_set.csv', index_col=0)

In [14]:
train = 'dataset.csv'
df = pd.read_csv(train, index_col=0)
print(df.columns)
df.head(5)

Index(['LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0', 'PAY_2',
       'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default payment next month'],
      dtype='object')

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,200000,2,3,1,30,2,2,2,2,2,...,147273,149244,151973,6600,6000,5860,6000,5000,0,0
1,200000,2,4,2,27,-2,-2,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,0
2,20000,2,2,2,28,0,0,2,0,0,...,8168,6894,11424,3353,3,5101,6,6530,8103,1
3,50000,1,2,2,23,0,0,0,-1,0,...,48437,18712,19129,4175,41000,51705,700,718,700,0
4,20000,1,2,1,47,-1,-1,-1,-2,-2,...,0,0,0,780,0,0,0,0,0,0

In [26]:
#df.corr()

In [27]:
# df['SEX']=df['SEX'].apply(lambda a:a-1)
# df['SEX']

In [28]:
val['SEX']=val['SEX'].apply(lambda a:a-1)
val['SEX']

0       1
1       1
2       1
3       1
4       1
       ..
7495    0
7496    0
7497    1
7498    0
7499    1
Name: SEX, Length: 7500, dtype: int64

In [17]:
# df['pay_%_6']=(df['BILL_AMT6'])/df['LIMIT_BAL']
# df['pay_%_5']=(df['BILL_AMT5'])/df['LIMIT_BAL']
# df['pay_%_4']=(df['BILL_AMT4'])/df['LIMIT_BAL']
# df['pay_%_3']=(df['BILL_AMT3'])/df['LIMIT_BAL']
# df['pay_%_2']=(df['BILL_AMT2'])/df['LIMIT_BAL']
# df['pay_%_1']=(df['BILL_AMT1'])/df['LIMIT_BAL']

In [18]:
# edu_dummies = pd.get_dummies(df['EDUCATION'], prefix='edu', drop_first=True)
# mar_dummies = pd.get_dummies(df['MARRIAGE'], prefix='mar', drop_first=True)

In [29]:
edu_dummies_val = pd.get_dummies(val['EDUCATION'], prefix='edu', drop_first=True)
mar_dummies_val = pd.get_dummies(val['MARRIAGE'], prefix='mar', drop_first=True)

In [30]:
# df_cat = pd.concat([df, edu_dummies, mar_dummies], axis=1)
# print(df_cat.columns)
# df_cat

In [32]:
val_cat = pd.concat([val, edu_dummies_val, mar_dummies_val], axis=1)
print(val_cat.columns)
val_cat

In [20]:
# x=df_cat[['LIMIT_BAL', 'SEX', 'AGE', 'PAY_0', 'PAY_2',
#        'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
#        'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
#        'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
#        'edu_1', 'edu_2', 'edu_3', 'edu_4',
#        'edu_5', 'edu_6', 'mar_1', 'mar_2', 'mar_3']]
# y=df_cat['default payment next month']

In [36]:
x_val=val_cat[['LIMIT_BAL', 'SEX', 'AGE', 'PAY_0', 'PAY_2',
       'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'edu_1', 'edu_2', 'edu_3', 'edu_4',
       'edu_5', 'edu_6', 'mar_1', 'mar_2', 'mar_3']]

In [33]:
#X_train, X_test, y_train, y_test = train_test_split(x,y,random_state=10)

In [22]:
rfc = RandomForestClassifier(random_state = 23,
                             n_estimators = 500,
                             class_weight='balanced',
                            max_depth=14,
                            min_samples_leaf=36,
                             criterion='entropy'
                            )
rfc.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight='balanced',
                       criterion='entropy', max_depth=14, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=36, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=500,
                       n_jobs=None, oob_score=False, random_state=23, verbose=0,
                       warm_start=False)

In [23]:
from sklearn import metrics
y_pred = rfc.predict(X_test)
y_pred_train = rfc.predict(X_train)
print("Training Metric:", metrics.f1_score(y_train, y_pred_train))
print("Testing Metric:", metrics.f1_score(y_test, y_pred))

Training Metric: 0.579748038982648
Testing Metric: 0.5506015569709838

In [ ]:
# param_grid = {'n_estimators': [100,500,1000],
#               'max_depth': [10,11,12,13,14],
#               'min_samples_leaf': [27,28,29,30,31]
#               }

In [ ]:
# from sklearn.model_selection import GridSearchCV
# rfcgs = RandomForestClassifier(random_state = 23,
                               
#                                class_weight='balanced',
#                                criterion='entropy')
# gridsearch = GridSearchCV(rfcgs, param_grid, cv=5, scoring='f1', n_jobs=-1, verbose=1)

In [ ]:
# gridsearch.fit(x,y)

In [ ]:
# #gs_train = gridsearch.best_estimator_.predict(X_train)
# #gs_test = gridsearch.best_estimator_.predict(X_test)
# gs_x = gridsearch.best_estimator_.predict(x)

In [26]:
# print("F1 Metric:", metrics.f1_score(y, gs_x))

F1 Metric: 0.5837866761794346

In [19]:
# print("Training Metric:", metrics.f1_score(y_train, gs_train))
# print("Testing Metric:", metrics.f1_score(y_test, gs_test))

Training Metric: 0.5734870317002881
Testing Metric: 0.5472707813057438

In [28]:
# gridsearch.best_params_

{'max_depth': 12, 'min_samples_leaf': 29}

In [27]:
# gridsearch.best_score_

0.5405622398335505